[submodule "MonoDebug"]
	path = MonoDebug
	url = https://github.com/aufalau/vscode-mono-debug.git
[submodule "MonoDevelop.Debugger.Soft.Unity-Tuanjie"]
	path = MonoDevelop.Debugger.Soft.Unity-Tuanjie
	url = https://github.com/aufalau/MonoDevelop.Debugger.Soft.Unity-Tuanjie.git
[submodule "debugger-libs"]
	path = debugger-libs
	url = https://github.com/aufalau/debugger-libs.git
[submodule "External/cecil"]
	path = External/cecil
	url = https://github.com/aufalau/cecil.git
[submodule "nrefactory"]
	path = nrefactory
	url = https://github.com/aufalau/nrefactory
